@model IEnumerable<Personal>
@{
    ViewData["Title"] = "List of Personal";
}
<div class="float-right" style="padding-right: 25px;">
    @await Html.PartialAsync("_Search", "Personal")
</div>
<br />
<br />
<div class="row float-right" dir="rtl" lang="ar">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 400px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text text-white float-right">
                                <h5 class="card-title">
                                    @item.FullName
                                    <img class="rounded-circle float-sm-none" src="@item.Image" alt="@item.FullName" style="max-width: 100px" />
                                    <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                </h5> 
                            </p>
                        </div>
                    </div>
                    @*<div class="col-md-6">
                        <img class="rounded-circle" src="@item.Image" alt="@item.FullName" style="max-width: 100px" />
                    </div>*@
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"><b>مدخل البيانات: </b>@item.DataEntryName</p>
                            <p class="card-text"><b>اسم المستشار: </b>@item.FullName</p>
                            <p class="card-text"><b>رقم الموبايل: </b>@item.PhoneNo</p>
                            @*<p class="card-text"><b>Employment_infoId: </b>@item.Employment_info.Id</p>*@             
                            <p class="card-text"><b>Start Date: </b>@item.EntryDate.ToString("dd MMM yy")</p>
                            <p class="card-text"><b>End Date: </b>@item.LastUpdateDate.ToString("dd MMM yy")</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                                <a class="btn btn-success text-white @((DateTime.Now > item.LastUpdateDate) ? "disabled" : "")">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title text-left ">عرض المعلومات المضافة</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div>
		<table class="table table-bordered table-hover text-left" cellspacing="0" rules="all" border="1" id="ContentPlaceHolder1_GridView1" style="border-collapse:collapse;">
			<tbody><tr>
				<th scope="col">&nbsp;</th><th scope="col">المرحلة الوظيفية</th><th scope="col">الدرجة الوظيفية</th><th scope="col">أسم الدائرة</th><th scope="col">رقم الموظف</th>
			</tr><tr>
				<td>
                                                    <a id="ContentPlaceHolder1_GridView1_btn_Update_0" class=" btn btn-warning Mybtn" autogeneratecolumns="False" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ContentPlaceHolder1$GridView1$ctl02$btn_Update&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))">استعراض الملف</a>
                                                </td><td>-</td><td>-</td><td>مكتب رئيس مجلس الوزراء</td><td>0</td>
			</tr>
		</tbody></table>
	</div>

                                                

                                            </div>
                                        </div>
@await Html.PartialAsync("_CreateNew", "Personal")


