@model IEnumerable<Personal>

@{
    ViewData["Title"] = "List of Personal";
}

<div class="row"  dir="rtl" lang="ar">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 300px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text text-white float-right">
                                <h5 class="card-title float-right ">
                                    @item.FullName                                
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.Image" width="100%" alt="@item.FullName">
                    </div>
                    <div class="col-md-auto">
                        <div class="card-body">
                            <p class="card-text"><b>مدخل البيانات: </b>@item.DataEntryName</p>
                            <p class="card-text"><b>اسم المستشار: </b>@item.FullName</p>
                            <p class="card-text"><b>رقم الموبايل: </b>@item.PhoneNo</p>
                            <p class="card-text"><b>المباشرة الفعلية: </b>@item.Employment_info.Actual_direct_date.ToString("dd/MM/yyyy")</p>
                            <p class="card-text"><b>انتهاء العقد: </b>@item.Employment_info.Contract_expiry_date.ToString("dd/MM/yyyy")</p>
                            <p class="card-text ">
                                <b>Status: </b>
                                @if (DateTime.Now  >= item.Employment_info.Actual_direct_date && DateTime.Now <= item.Employment_info.Contract_expiry_date)
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger text-white">EXPIRED</span>
                                }
                              
                            </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" ><i class="bi bi-eye-fill"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


